# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Coverage / Testing
# =========================
coverage/

# =========================
# Database / Local data
# =========================
data/
*.sqlite
*.sqlite3
dump/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Misc
# =========================
*.bak
*.old
*.pid
# =========================
# mine folders
# =========================
BlogappRoadmap.txt
